body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000; /* خلفية سوداء */
    color: white; /* لون النص */
    font-family: Arial, sans-serif;
    position: relative;
}

.loading-container {
    text-align: center; /* محاذاة النص للوسط */
}

.loading-image {
    width: 30vw; /* حجم ابتدائي لصورة التحميل حسب عرض الشاشة */
    height: auto; /* الحفاظ على نسبة العرض إلى الارتفاع */
    max-width: 160px; /* الحد الأقصى للحجم */
    max-height: 120px; /* الحد الأقصى للحجم */
    animation: scale 1s infinite alternate; /* تأثير التكبير والتصغير */
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.loading-text {
    font-size: 4vw; /* حجم الخط حسب عرض الشاشة */
    position: absolute;
    bottom: 5%; /* مسافة من الأسفل */
    left: -70%; /* محاذاة النص إلى اليسار */
}

.dots {
    display: inline-block;
    animation: dots 1.5s infinite; /* تأثير النقاط */
}

@keyframes dots {
    0%, 20% {
        content: '';
    }
    30% {
        content: '.';
    }
    50% {
        content: '..';
    }
    70% {
        content: '...';
    }
    100% {
        content: '';
    }
}

/* استعلامات الوسائط لتحسين العرض على الهواتف */
@media (max-width: 600px) {
    .loading-image {
        width: 70vw; /* حجم أكبر على الشاشات الصغيرة */
    }

    .loading-text {
        font-size: 6vw; /* حجم أكبر للنص على الشاشات الصغيرة */
    }
}
